// Media queries

@include media-breakpoint-only(xs) {


// Grid
.grid {
    grid-template-columns: 1fr;
}

// Navbar
.navbar__none {
    display: none;
}

//News



// Aside

.aside {
    display: none;
}

// Newsletter

// Footer


}